{% extends "layout.html.twig" %}

{% block headline %}{% endblock %}

{% block content %}
	<div class="container">
		<h1>Standard-Fehlerseite</h1>
		<p>Um diese Seite anzupassen, einfach /templates/404.html.twig editieren!</p>
	</div>

{% endblock %}
