{% extends "layout.html.twig" %}

{% block content %}
	{% for panel in panels %}
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="panel panel-default">
						{% if panel.title %}
							<div class="panel-heading">
								<h3 class="panel-title">{{ panel.title }}</h3>
							</div>
						{% endif %}
						<div class="panel-body">
							{{ panel.content }}
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
