{% extends "layout.html.twig" %}

{% block headline %}{% endblock %}

{% block content %}
	<div class="jumbotron">
		<div class="container">
			<h1>{{ headline }}</h1>
			<p>{{ intro }}</p>
		</div>
	</div>

	<div class="container">
		<div class="row">
			{% for panel in panels %}
				<div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
					<div class="panel panel-default">
						{% if panel.title %}
							<div class="panel-heading">
								<h3 class="panel-title">{{ panel.title }}</h3>
							</div>
						{% endif %}
						<div class="panel-body">
							{{ panel.content }}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
