{% extends "layout.html.twig" %}

{% block content %}
<div class="container">
	<div class="alert alert-success">Vielen Dank - Ihre Anfrage wurde abgesendet!</div>
	Diese Seite können Sie unter /templates/template_contact_success.html.twig ändern.
</div>
{% endblock %}
